@keyframes fade-in {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
    }
}

:root {
    font-family: "Montserrat", sans-serif;
    --green: #69db8b;
}

body {
    margin: 0;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

.top-bar {
    padding: 0.5em;
    background: hsl(0, 0%, 98%);
    box-shadow: 1px 1px 10px 1px hsl(0, 0%, 70%);

    display: flex;
}

.top-bar a {
    text-decoration: none;
    background: var(--green);
    color: #fff;
    
    padding: 0.5em;
    display: inline-block;
    margin: 0 0.2em;
}

main {
    text-align: center;
    margin: 0 1em;
}

.sidebar {
    --gradient-to-color: #fff;
    --gradient-from-color: #f5f5fa;
    --gradient-color-stops: var(--gradient-from-color),var(--gradient-to-color);
    
    background-image: linear-gradient(180deg,var(--gradient-color-stops));

    padding: 0.2em 1em;

    text-align: center;
}

.sidebar .links a {
    display: block;
    margin: 0.5em 0;
    font-size: 1.2em;

    color: var(--green);
}

.sidebar .main-heading {
    font-size: 2.3em;
}

.site-grid {
    display: grid;
    grid-template-columns: 3fr 1.5fr;
}

@media (max-width: 600px) {
    .site-grid {
        display: flex;
        flex-direction: column-reverse;
    }
}

.post-wrap {
    margin: 1.3em 0;
    padding: 0.5em;
    text-align: left;

    animation: fade-in 250ms;
}

.post-wrap .post-title {
    padding: 0;
}

.post-wrap .post-title a {
    font-size: 1.6em;

    cursor: pointer;
    text-decoration: none;
    text-shadow: 2px 4px 10px hsl(0, 0%, 80%);

    color: black;

    transition: color 100ms;
}

.post-wrap .post-title a:hover {
    color: var(--green);
}

.post-wrap .post-date .date {
    font-size: 1.3em;
    margin: 1em;
}

.post-wrap .post-date .article-h {
    background: var(--green);
    padding: 0.5em 0.3em;
    color: hsl(0, 0%, 24%);
    font-size: 1.2em;
    border-radius: 100px;
}

.post-wrap .read-article-link {
    font-size: 1.2em;
    color: var(--green);
}

.post-main {
    margin: 0 auto;
    max-width: 60%;
}

@media (max-width: 600px) {
    .post-main {
        max-width: 100%;
        padding: 0 1em;
    }
}

.post-main .main-heading a {
    color: var(--green);
    text-decoration: none;
}

.login-main .input-wrap {
    margin: 2em auto;
}

.login-main input {
    margin: 10px auto;
    display: block;
    padding: 1.2em;
}

.login-main label {
    padding: 0;
    font-size: 1.2em;
}