body {
    margin: 0;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

.authed-banner {
    padding: 0.5em;
    background: hsl(0, 0%, 98%);
    box-shadow: 1px 1px 5px hsl(0, 0%, 39%);
}

main {
    text-align: center;
    margin: 0 1em;
}

.sidebar {
    --gradient-to-color: #fff;
    --gradient-from-color: #f5f5fa;
    --gradient-color-stops: var(--gradient-from-color),var(--gradient-to-color);
    
    background-image: linear-gradient(180deg,var(--gradient-color-stops));

    padding: 0.3em;

    text-align: center;
}

.sidebar .links a {
    display: block;
    margin: 0.5em 0;
    font-size: 1.2em;

    color: lightgreen;
}

.main-heading {
    font-size: 2.3em;
}

.site-grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 0.9em;
}

.post-wrap {
    margin: 1.3em 0;
    padding: 0.5em;
    text-align: left;
}

.post-wrap .post-title {
    margin: 0;
    padding: 0;
}

.post-wrap .post-title a {
    font-size: 1.6em;

    cursor: pointer;
    text-decoration: none;
    color: black;

    transition: color 100ms;
}

.post-wrap .post-title a:hover {
    color: lightgreen;
}

.post-wrap .post-date .date {
    font-size: 1.3em;
}

.post-wrap .post-date .article-h {
    color: hsl(0, 0%, 24%);
    font-size: 1.2em;
}

.post-wrap .read-article-link {
    font-size: 1.2em;
    color: lightgreen;
}